<div class="container mt-5">
  <h2>User Register</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 mt-3">
      <label for="firstname" class="form-label">First Name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter User Name"
        formControlName="firstname"
        id="firstname"
      />

      <div
        *ngIf="
          form.controls['firstname'].invalid &&
          form.controls['firstname'].touched
        "
      >
        <div class="alert alert-danger">First Name is required</div>
      </div>
    </div>

    <div class="mb-3 mt-3">
      <label for="lastname" class="form-label">Last Name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter User Name"
        formControlName="lastname"
        id="lastname"
      />

      <div
        *ngIf="
          form.controls['lastname'].invalid && form.controls['lastname'].touched
        "
      >
        <div class="alert alert-danger">Last Name is required</div>
      </div>
    </div>

    <div class="mb-3 mt-3">
      <label for="username" class="form-label">User Name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter User Name"
        formControlName="username"
        id="username"
      />

      <div
        *ngIf="
          form.controls['username'].invalid && form.controls['username'].touched
        "
      >
        <div class="alert alert-danger">User Name is required</div>
      </div>
    </div>

    <div class="mb-3 mt-3">
      <label for="contact" class="form-label">Contact Number:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Contact Number"
        formControlName="contact"
        id="contact"
      />

      <div
        *ngIf="form.controls['contact'].invalid && form.controls['contact'].touched"
      >
        <div class="alert alert-danger">Contact Name is required</div>
      </div>
    </div>

     <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Email Name"
        formControlName="email"
        id="email"
      />

      <div
        *ngIf="form.controls['email'].invalid && form.controls['email'].touched"
      >
        <div class="alert alert-danger">Email Name is required</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        formControlName="password"
        id="password"
      />
      <div
        *ngIf="
          form.controls['password'].invalid && form.controls['password'].touched
        "
      >
        <div class="alert alert-danger">Password is required</div>
      </div>
      <div *ngIf="form.controls['password'].hasError('minlength')">
        <div class="alert alert-danger">
          Password length should be minimum 6 and maximum 40.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter Confirm password"
        formControlName="confirmPassword"
        id="confirmPassword"
      />
      <div
        *ngIf="
          form.controls['confirmPassword'].invalid &&
          form.controls['confirmPassword'].touched
        "
      >
        <div class="alert alert-danger">Confirm Password is required</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Security Question</label>
      <select class="form-control" formControlName="securityQuestion">
        <option [ngValue]="null" disabled>Select Security Question</option>
        <option *ngFor="let question of questions" [ngValue]="question.id">
          {{ question.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="answer" class="form-label">Question Answer:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Question Answer"
        formControlName="answer"
        id="answer"
      />
      <div
        *ngIf="
          form.controls['answer'].invalid && form.controls['answer'].touched
        "
      >
        <div class="alert alert-danger">Question Answer is required</div>
      </div>
    </div>

    <div *ngIf="errorMessage.length > 0">
      <div class="alert alert-danger">{{ errorMessage }}</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" (click)="onReset()" class="btn btn-warning m-2">
      Reset
    </button>
  </form>
</div>
