<div class="container mt-5">
  <h2>Forget password</h2>

  <form
    *ngIf="!isUsernameFind"
    [formGroup]="forgetForm"
    (ngSubmit)="findUserName()"
  >
    <div class="mb-3 mt-3">
      <label for="username" class="form-label">User Name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter User Name"
        formControlName="username"
        id="username"
      />

      <div
        *ngIf="
          forgetForm.controls['username'].invalid &&
          forgetForm.controls['username'].touched
        "
      >
        <div class="alert alert-danger">User Name is required</div>
      </div>
    </div>

    <div *ngIf="errorMessage.length > 0">
      <div class="alert alert-danger">{{ errorMessage }}</div>
    </div>

    <button type="submit" class="btn btn-primary">Find</button>
  </form>

  <form *ngIf="isUsernameFind" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="my-3">
      <h5>User Name : {{ user.userName }}</h5>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Security Question</label>
      <select class="form-control" formControlName="securityQuestion">
        <option [ngValue]="null" disabled>Select Security Question</option>
        <option *ngFor="let question of questions" [ngValue]="question.id">
          {{ question.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="answer" class="form-label">Question Answer:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Question Answer"
        formControlName="answer"
        id="answer"
      />
      <div
        *ngIf="
          form.controls['answer'].invalid && form.controls['answer'].touched
        "
      >
        <div class="alert alert-danger">Question Answer is required</div>
      </div>
    </div>


    <div class="mb-3">
      <label for="password" class="form-label">New Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter New password"
        formControlName="password"
        id="password"
      />
      <div
        *ngIf="
          form.controls['password'].invalid && form.controls['password'].touched
        "
      >
        <div class="alert alert-danger">Password is required</div>
      </div>
      <div *ngIf="form.controls['password'].hasError('minlength')">
        <div class="alert alert-danger">
          Password length should be minimum 6 and maximum 40.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label"
        >Confirm New Password:</label
      >
      <input
        type="password"
        class="form-control"
        placeholder="Enter Confirm password"
        formControlName="confirmPassword"
        id="confirmPassword"
      />
      <div
        *ngIf="
          form.controls['confirmPassword'].invalid &&
          form.controls['confirmPassword'].touched
        "
      >
        <div class="alert alert-danger">Confirm Password is required</div>
      </div>
    </div>

    <div *ngIf="errorMessage">
      <div class="alert alert-danger">{{ errorMessage }}</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" (click)="onReset()" class="btn btn-warning m-2">
      Reset
    </button>
  </form>
</div>
